.infobox {
    border: solid 1px #101010;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 3px;
}

@media (min-width: 48em) {
  .infobox {
    font-size: 12px;
  }
}
@media (min-width: 58em) {
  .infobox {
    font-size: 16px;
  }
}

.title-imprint {
    display: flex;
}

.title-imprint > * {
    flex: auto;
}

.title-imprint > .title-imprint-history {
    flex: initial;
    text-align: right;
}

.title-imprint > .title-imprint-history p {
    margin-bottom: 0;
}

@media (min-width: 48em) {
    .title-imprint > .title-imprint-history {
        font-size: 12px;
    }
}

@media (min-width: 58em) {
    .title-imprint > .title-imprint-history {
        font-size: 16px;
    }
}

.infobox > h1 {
    text-align: center;
    margin: 0px;
}

#about {
    margin: 0;
    font-size: 80%;
}

/* groddy pure css horizontal separator */
.footnotes::before {
    content: " ";
    display: block;
    border-top: solid 1px #101010;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#button-box {
    overflow: hidden;
    margin: 0.5rem;
}

#button-prev {
    float: left;
}

#button-next {
    float: right;
}
